@import "tailwindcss";

/* Clases personalizadas para el efecto 3D de las cartas (Sintaxis Tailwind v4) */
.perspective {
  perspective: 1000px;
}
.preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-hidden-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
